.bingkai {
    width: 500px;
    height: 450px;
    background-color: orange;
    border: solid 2px black;
    margin: 5% auto;
    text-align: center;
    padding-top: 25px;
}

body {
    background-color: darkgreen;
}